@import "src/assets/scss/style";

.content-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 700px;
  border-radius: 5px 5px 0 0;
  overflow-y: scroll;
  font-family: $accent-font;;

  thead tr {
    border-bottom: 1px solid #888888 ;
    padding: $md;
    text-align: left;
    font-weight: bold;
    color: #888888;
    border-bottom: 1px solid #888888;
  }

  th, td {
    padding: $md $md;
    font-weight: bold;
  }

  tbody tr:nth-of-type(even) {
    background-color: rgba(196, 196, 196, 0.12);
  }

  tbody tr:hover{
    background: $primary-color;
  }

  tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  .profile-image{
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
      img{
        height: 100%;
        width: 100%;
      }
  }

  tbody{
    height: 200px !important;
    overflow: auto;
  }
}

.outlined{
  border-radius: 4px;
  border: #2e2e2e 1px;
}

